/* Featured Destinations Component */

.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    flex:1;
    cursor: pointer;
}

.featuredImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* Property List Component */

.pList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pListItem{
    flex:1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.pListImg{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.pListTitles>h1{
    font-size: 18px;
    color: #444;
    text-transform: capitalize;
}

.pListTitles>h2{
    font-size: 14px;
    font-weight: 300;
}

/* Featured Properties Component */

.fp {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fpItem{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.fpImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.fpName{
    color: #333;
    font-weight: bold;
}

.fpCity{
    font-weight: 300;
}

.fpPrice{
    font-weight: 500;
}

.fpRating>button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.fpRating>span{
    font-size: 14px;
}